<a href="https://colab.research.google.com/github/BielPanda/phyton/blob/main/Lista_Exercicio_Gabriel_Henrique.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mensagem = "Olá ETE Cícero Dias"
print(mensagem)

Olá ETE Cícero Dias

In [ ]:
numero = input("Informe o número: ")
print("O número informado é: ", numero)

Informe o número: 10
O número informado é:  10

In [ ]:
numero1 = float(input("Digite o primeiro número: "))
numero2 = float(input("Digite o segundo número: "))
soma = numero1 + numero2
print("A soma dos números é: ", soma)

Digite o primeiro número: 10
Digite o segundo número: 24
A soma dos números é:  34.0

In [ ]:
nota1 = float(input("Infome a nota 1: "))
nota2 = float(input("Infome a nota 2: "))
nota3 = float(input("Infome a nota 3: "))
nota4 = float(input("Infome a nota 4: "))

notaFinal = nota1 + nota2 + nota3 + nota4 / 4

print("A nota final é: ", notaFinal)

Infome a nota 1: 3
Infome a nota 2: 5
Infome a nota 3: 6
Infome a nota 4: 10
A nota final é:  16.5

In [ ]:
metros = float(input("Digite o valor em metros: "))

centimetros = metros * 100

print("O valor em centimetros é: ", centimetros)

Digite o valor em metros: 10
O valor em centimetros é:  1000.0

In [ ]:
import math
raio = float(input("Digite o raio do círculos: "))

area = math.pi * raio**2

print("A aréa do círculo é: ", area)

Digite o raio do círculos: 10
A aréa do círculo é:  314.1592653589793

In [ ]:
lado = float(input("Digite o lado do quadrado: "))

area = lado ** 2
dobro_area = 2 ** area

print("A area do quadrado é", area)
print("O dobro da area é: ", dobro_area)

Digite o lado do quadrado: 4
A area do quadrado é 16.0
O dobro da area é:  65536.0

In [ ]:
valor_por_horas = float(input("Digite o valor trabalhadas por horas: "))
horas_trabalhadas = float(input("Digite as horas trabalhadas: "))

salario_mensal = valor_por_horas * horas_trabalhadas

print("Seu salario mensal é:", salario_mensal)

Digite o valor trabalhadas por horas: 30
Digite as horas trabalhadas: 8
Seu salario mensal é: 240.0

In [ ]:
valor = float(input("Digite um valor: "))

if valor > 0:
    print("Positivo")
elif valor < 0:
    print("Negativo")
else:
    print("O valor é zero")

Digite um valor: 15
Positivo

In [ ]:
letra = input("Digite uma letra: ")

if letra == "F" or letra == "f":
    print("F - Feminino")
elif letra == "M" or letra == "m":
    print("M - Masculino")
else:
    ("Sexo inválido")

Digite uma letra: m
M - Masculino